.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.Image {
  width: 100%;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.foodButton{
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #ff9100;
  background-color:#303030;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
}
.foodButton:hover{
  color:#000000;
  background-color:#ff9100;
}
@media all and (max-width:30em){
  .foodButton{
    display:block;
    margin:0.4em auto;
    }
}


.Separator{
  font-size: 1px;
  padding: 0px;
}

.Separator2{
  font-size: 1px;
  margin-top: 15px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
